<option value="-1">未选择</option>
<% for(var i=0; i< localDns.netNames.length; i++) { %>
<option value="<%= i %>" <%if(i == localDns.selectNetnameIndex){%>selected<%}%>>
    <%= localDns.netNames[i] %>
</option>
<% } %>