@import "reset.css";
.hide {
  display: none;
}
#window {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
}
#window #hd {
  height: 35px;
  width: 100%;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, #44474a 0%, #36393c 100%);
  color: #CCD6DE;
}
#window #hd .dragbar {
  width: -webkit-calc(85%);
  -webkit-app-region: drag;
}
#window #hd .dragbar h1 {
  font-size: 18px;
  margin-left: 10px;
  display: inline-block;
}
#window #hd .dragbar h1 span {
  color: #3b9cef;
}
#window #hd .dragbar .app-desc {
  display: inline-block;
  margin-left: 10px;
  color: #929BA2;
}
#window #hd .control {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
#window #hd .control span {
  display: block;
  width: 35px;
  height: 100%;
  float: left;
  overflow: hidden;
  text-indent: -999px;
  position: relative;
  cursor: pointer;
}
#window #hd .control .minimize:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4px;
  margin-top: -1px;
  background-color: #CCD6DE;
  width: 9px;
  height: 2px;
  content: "";
}
#window #hd .control .close:after {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -1px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  content: "×";
  text-indent: 0;
}
#window #hd .control .help:after {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -1px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  content: "";
  text-indent: 0;
  background: url(../img/icons.png) no-repeat -197px -76px;
}
#window #hd .control .help:hover,
#window #hd .control .minimize:hover {
  background-color: #5a6064;
}
#window #hd .control .close:hover {
  background-color: #C73636;
}
#window #hd #winTip {
  display: block;
  width: 1px;
  height: 1px;
  position: fixed;
  margin-left: -50px;
  left: 50%;
  top: 200px;
}
#window #bd {
  -webkit-box-flex: 1;
  background-color: #f5f5f5;
  position: relative;
  min-width: 350px;
  top: 35px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
#window #bd #sidebar {
  width: 215px;
  background-color: #e5f1f8;
  position: relative;
}
#window #bd #sidebar #menus {
  display: -webkit-flex;
  height: 56px;
}
#window #bd #sidebar #menus li {
  -webkit-flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -999px;
  box-shadow: -1px 0 0 #9db2bc, -2px 0 0 #79868c;
  background: -webkit-linear-gradient(top, #8c9ca4 0%, #79868c 100%);
  position: relative;
  cursor: pointer;
}
#window #bd #sidebar #menus li:before {
  display: block;
  width: 24px;
  height: 24px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  content: '';
  background: url(../img/icons.png) no-repeat;
}
#window #bd #sidebar #menus li:hover {
  background: -webkit-linear-gradient(top, #3eb3eb 0%, #1f93c9 100%);
}
#window #bd #sidebar #menus #newFile:before {
  background-position: -85px 0;
}
#window #bd #sidebar #menus #delFile:before {
  background-position: -190px 0;
}
#window #bd #sidebar #menus #teamServer:before {
  background-position: -119px 0;
}
#window #bd #sidebar #menus #settings:before {
  background-position: -153px 0;
}
#window #bd #sidebar #projects {
  position: absolute;
  top: 56px;
  height: 334px;
  width: 100%;
  overflow-x: hidden;
  bottom: 0;
}
#window #bd #sidebar #projects li {
  height: 50px;
  line-height: 50px;
  padding-left: 51px;
  padding-right: 34px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  cursor: pointer;
  width: 130px;
}
#window #bd #sidebar #projects li:before {
  display: block;
  width: 22px;
  height: 26px;
  background: url(../img/icons.png) no-repeat;
  background-position: -90px -39px;
  position: absolute;
  top: 50%;
  left: 18px;
  margin-top: -15px;
  content: '';
}
#window #bd #sidebar #projects li.active {
  background-color: #cedee9;
  font-weight: bold;
}
#window #bd #sidebar #projects li.active .arrow {
  display: block;
  width: 20px;
  height: 13px;
  background: url(../img/icons.png) no-repeat;
  background-position: -115px -51px;
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -7px;
  content: '';
}
#window #bd #sidebar #projects li:hover {
  background-color: #DAE8F1;
}
#window #bd #main {
  padding: 10px 20px;
  overflow: hidden;
  -webkit-box-flex: 1;
  background-color: #f5f5f5;
  position: relative;
  min-width: 350px;
  padding-right: 5px;
}
#window #bd #main .searchBar {
  padding: 10px 0;
  position: relative;
  overflow: hidden;
}
#window #bd #main .searchBar .btn_refresh,
#window #bd #main .searchBar .btn_cleanDns,
#window #bd #main .searchBar .btn_blue,
#window #bd #main .searchBar .btn_red {
  float: left;
  display: block;
  width: 79px;
  height: 22px;
  background: -webkit-linear-gradient(top, #73c232 0%, #5da029 100%);
  border: none;
  outline: none;
  border-radius: 20px;
  color: #FFF;
  text-shadow: 1px 1px 1px #5fa12d;
  position: relative;
  top: 2px;
  left: 10px;
  cursor: pointer;
}
#window #bd #main .searchBar #cleanHosts {
  width: 86px;
}
#window #bd #main .searchBar #setDNS {
  background: -webkit-linear-gradient(top, #87c6ff 0%, #46a0fc 100%);
  left: 20px;
}
#window #bd #main .searchBar #cleanDns {
  background: -webkit-linear-gradient(top, #fa3f36 50%, #fb1105 100%);
  left: 20px;
}
#window #bd #main .searchBar #cleanDns {
  left: 30px;
}
#window #bd #main .searchBar .btn_refresh:after,
#window #bd #main .searchBar .btn_cleanDns:after {
  float: left;
  display: block;
  width: 14px;
  height: 16px;
  background: url(../img/icons.png) no-repeat;
  background-position: -142px -49px;
  position: relative;
  top: 1px;
  content: '';
}
#window #bd #main .searchBar #searchForm {
  float: right;
  width: 180px;
  position: relative;
}
#window #bd #main .searchBar #searchForm input {
  width: 160px;
  height: 25px;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  padding: 0 8px;
  outline: none;
}
#window #bd #main .searchBar #searchForm button {
  display: block;
  width: 17px;
  height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-indent: -999px;
  background: url(../img/icons.png) no-repeat;
  background-position: -165px -49px;
  border: none;
  position: absolute;
  right: 10px;
  top: 4px;
  cursor: pointer;
}
#window #bd #main .edit-panel {
  padding: 5px;
}
#window #bd #main .edit-panel #editPanel {
  border: 1px #dee2e5 solid;
  width: -webkit-calc(95%);
  background-color: white;
  height: 340px;
  padding: 10px;
  overflow: scroll;
}
#window #bd #main .edit-panel #editPanel::-webkit-selection {
  background: #33FF99;
  color: #FF3300;
}
#window #bd #main .edit-panel #editPanel::selection {
  background: #33FF99;
  color: #FF3300;
}
#window #bd #main .control-bar {
  padding: 10px 0;
}
#window #bd #main .control-bar #cover {
  margin-right: 10px;
}
#window #bd #main .control-bar #fileStat {
  top: 10px;
  color: #FE7000;
}
#window #bd #main .control-bar .hr {
  border-bottom: 1px solid #dee2e5;
  background-color: #FFF;
  height: 1px;
}
#window #bd #extend {
  width: 0;
  background-color: #575c60;
  color: #fff;
  -webkit-transition: width 200ms ease-out;
  position: relative;
  overflow: hidden;
}
#window #bd #extend .inner {
  width: 180px;
  padding: 10px;
  line-height: 22px;
  -webkit-transition: opacity 200ms ease-out;
  display: none;
}
#window #bd #extend .inner select,
#window #bd #extend .inner label,
#window #bd #extend .inner input[type=text] {
  display: block;
  margin: 5px 0;
  line-height: 18px;
  width: 100%;
}
#window #bd #extend .inner .title {
  text-align: center;
  height: 22px;
  position: relative;
  margin-bottom: 5px;
  font-size: 20px;
}
#window #bd #extend .inner .title #modifyDataName {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../img/icons.png) no-repeat -188px -50px;
}
#window #bd #extend .inner .title:after {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  content: attr(data-type);
}
#window #bd #extend .inner .desc {
  text-align: center;
  color: #CCC;
  margin-bottom: 10px;
}
#window #bd #extend .inner .option_args {
  margin-top: 10px;
  min-height: 290px;
  max-height: 330px;
  overflow-y: auto;
}
#window #bd #extend .inner .option_args label {
  position: relative;
  text-transform: capitalize;
}
#window #bd #extend .inner .option_args select {
  width: 100%;
}
#window #bd #extend .inner .option_args #cleanDnsHistory {
  margin-right: 10px;
}
#window #bd #extend .inner.show {
  display: block;
  opacity: 1;
}
#window #bd #extend.show {
  width: 200px;
}
#window .white_btn {
  border-radius: 12px;
  padding: 0 14px;
}
#window .btn_green {
  display: block;
  width: 79px;
  height: 22px;
  background: -webkit-linear-gradient(top, #73c232 0%, #5da029 100%);
  border: none;
  outline: none;
  color: #FFF;
  text-shadow: 1px 1px 1px #5fa12d;
  position: relative;
  top: 10px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}
#window .btn_red {
  display: block;
  width: 79px;
  height: 22px;
  background: -webkit-linear-gradient(top, #fa3f36 50%, #fb1105 100%);
  border: none;
  outline: none;
  color: #FFF;
  text-shadow: 1px 1px 1px #5fa12d;
  position: relative;
  top: 10px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}
